.userProfile{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 2rem;
    width: 35%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #c0fadf;
    height: 50rem;
}

.image {
    height: 20rem;
    width: 25rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.name{
    margin: 0;
    width: 25rem;
}

.sport {
    margin: 0;
    width: 25rem;
}

.location {
    margin: 0;
    width: 25rem;
}

.bio {
    width: 25rem;
}

/* .gradient-canvas {
    position: absolute;
    width: 70%;
    z-index: -1;
    --gradient-color-1: #ea6442;
    --gradient-color-2: #c0fadf;
    --gradient-color-3: #5bbea0;
    --gradient-color-4: #194076;
} */