.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0 2rem;
  width: 100%;
  background-color: rgb(141, 141, 212);
  height: 45rem;
  z-index: 3;
}

.innerPic {
  width: 25rem;
  position: absolute;
  color: white;
  padding-top: 15px;
  padding-left: 25px;
}

.image {
  border-radius: 15px;
  height: 25rem;
  width: 25rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.name {
  position: relative;
  margin: 0;
  width: 25rem;
  font-size: 25px;
  font-weight: 700;
}

.sport {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  width: 25rem;
}

.location {
  margin: 0;
  width: 25rem;
  font-size: 15px;
  font-weight: 500;
}

.bio {
  font-weight: 500;
  width: 25rem;
  box-shadow: 50px;
  padding-top: 20px;
}

.bioTitle {
  font-size: 25px;
  font-weight: 600;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .gradient-canvas {
  position: absolute;
  width: 70%;
  z-index: -1;
  --gradient-color-1: #ea6442;
  --gradient-color-2: #c0fadf;
  --gradient-color-3: #5bbea0;
  --gradient-color-4: #194076;
} */
