.landing {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  h1 {
    position: absolute;
    top: 5%;
    right: 7.5%;
    font-family: 'Poppins';
    text-decoration: underline;
    font-size: 7.5rem;
    font-weight: 900;
    color: white;
    opacity: 0.9;
  }
  .text-container {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 6.5%;

    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 1.25rem;
      color: grey;
    }
  }
  #sidekick {
    position: absolute;
    top: 35%;
    right: 25%;
    height: 65%;
    width: 30%;
  }
  #clouds {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  #gradient-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    --gradient-color-1: #ea6442;
    --gradient-color-2: #c0fadf;
    --gradient-color-3: #5bbea0;
    --gradient-color-4: #194076;
  }
  // --gradient-color-1: #c0fadf;
  // --gradient-color-2: #8ff8ea;
  // --gradient-color-3: #ea6442;
  // --gradient-color-4: #194076;
}
