.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFE;
    .sidekick {
        font-size: 60px;
        font-weight: 600;
        color: #FEFEFE;
        text-align: left;
        width: 90%;
        text-decoration: underline;
    }
    background: linear-gradient(#ea6442, #194076)
}

.chakra-ui-light{
    background-color: #194076;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.swipeable-list-item__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2rem;
    z-index: 3;
}

.gif{
    position: relative;
}

.gifContainer{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.backgroundimgContainer{
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 700px;
}

.backgroundimgContainer2{
    position: absolute;
    right: 0;
    top: 0;
    width: 650px;
}

